body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: rgb(138, 218, 218);
}
i{
  cursor: pointer;
  margin-left: 0px;
}
.card{
  min-height: 200px;
  border-radius: 5px;
  border:1px solid black;
}
.flex{
  text-align: justify;
}
.addnote{
  width:60%;
  border-radius:2%;
  margin-left: 17%;
  margin-bottom: 3%;
}
.addnote input,label{
  width:90%;
  margin-left: 8px;
  
}
.addnote button{
  width: 90%;
  margin-left: 10px;
}
.signup{
  width:60%;
  border-radius:2%;
  margin-left: 17%;
  margin-bottom: 3%;
}
.signup button{
  width: 100%;
  
}
.login{
  width:60%;
  border-radius:2%;
  margin-left: 17%;
  margin-bottom: 3%;
}
.login button{
  width: 100%;
  
}
#ad{
  width:15%;
  background-color: brown;
  border-radius: 3px;
  min-height: 170px;
}

 :hover #ad{
display: block;
}